/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Theme Name: The Project - StayNorwich CodersTrust Live Project
  Author:AMINUL ISLAM , CTG-003, ID:123;
  Author URI: 
  Author e-mail: aislam270@gmail.com
  Version: StayNorwich 1.0.0
  Created:August 2015
  License URI: StayNorwich
  File Description: Place here your custom CSS styles
*/






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*link hover style*/

/*a:hover{
  text-decoration: none;
}
*/

/* ==========================================================================
                             custom styles Start
   ========================================================================== */

/*====================== Header Top style ===================*/
#header_top .search{
  display: inline-block;

}

.top_bar {
  padding: 10px 0;
  background: #fff;
  line-height: 23px;
}


.login_info{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.login_info li {
  display: inline-block;
}

ul.login_info li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.login_info li a:hover {
  background: #c52d2f;
  color: #fff;
}

/*login info*/

.user_login{
  padding: 0px 7px;
}
.user_login a{
  text-decoration: none;
  color: #000;
}


/*country flag*/

.flag button:hover{
  text-decoration: none;
}

.flag img{
  width: 20px;
  height: 14px;
}


/*search field*/
.search i {
  color: #000;
}

input.search-form{
  background: transparent;
  border: 1px solid #C8B191;
  width: 60px;
  padding: 0 10px;
  color: #000;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: black;
}

input.search-form:hover {
  width: 140px;
  border-radius: 6px;
}

/*============================ Header middle style================*/


.header{
  margin: 20px 0px
}

/*logo*/
#logo{
  margin-top: -18px;
}
.logo_text{

}
.logo_text a{
  display: inline-block;
  padding: 0px 11px;
  font-size: 35px;
  color: #3A3A3A;
  font-weight: 500;
  letter-spacing: .6px;
}
.logo_text a:hover{
  text-decoration: none;
}

/*call number*/

.second{

}

.call_icon{
      font-size: 26px;
    padding: 0px 11px;
}

.call_number{

}

/*book button*/
.book_button a{
  color: #fff;
  text-decoration: none;
}
.book_button a:hover{
  color: #000;
}
.book_button{
  padding-top: 16px;

}
.book{
  background: #C8B191;
  padding: 17px 18px;
}
.book_icon{
  padding: 0px 10px;
}
/*============================== header bottom (navbar style) ====================*/

/*main nav*/
.nav_bar{
  background-color: white;
  border-color: white;
}
.nav_bar .navbar-nav>.active>a, .nav_bar .navbar-nav>.active>a:focus, .nav_bar .navbar-nav>.active>a:hover {
  color: #373737;
  background-color: #fff;
  border-bottom: 1px solid #C8B191;
}
.main_menu li a{
  font-size: 14px;
}
.main_menu li a:hover{
  border-bottom: 1px solid #C8B191;
}




/*========================================= Slider section style =====================*/

#slider{
 background: url(../img/cover.jpg) no-repeat scroll 0 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;  
background-size: cover;
min-height: 500px;
}

.slider_img{
    min-width:100%;
    position:absolute;
    margin:auto;

}
.slider_text{
  background: rgba(66, 69, 76, 0.84);
  height: auto;
  position: relative;
  top: 70px;
  padding: 20px 25px;
  color: #fff;
}

.apartment_details{
  margin: 10px 0px;
  min-height: 164px;
}
.see_details a{
  padding: 15px 15px;
  background: #C8B191;
  text-decoration: none;
  color: #fff;
}
.see_details{
  padding-bottom: 15px;
}

.details_list ul{
  margin:0px;
  padding: 0px;
}
.details_list ul i{
  padding: 10px 0px;
  font-size: 18px;
}

.see_details a:hover{
  color: #000;
}


/*========================================= main content style =====================*/

/*welcome staynorwich text*/

.staynorwich{
  padding: 45px 0px;
  
}

.staynorwich h3{
  padding: 0px 144px;
  line-height: 1.5;
}
.location{


}
.location h3{
  border-bottom: 1px solid #C8B191;
  margin: 21px 0px;
  padding: 10px 0px;
  width: 18%;

}
.location p{
  font-size: 17px;
}
.location a{
  background: #C8B191;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.location a:hover{
  color: #000;
}

.reservation h3{
  border-bottom: 1px solid #C8B191;
  margin: 21px 0px;
  padding: 10px 0px;
  width: 18%;

}
.search_button{
  padding: 22px 0px
}
.search_button p{
  background: #8B6F6C;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.search_button p:hover{
  color: #000;
  cursor: pointer;
}


/*staynorwich offer*/
.offer_section{
  padding: 50px 0px;
}

.offer img{
  width: auto;
  height: 290px;
  padding: 6px;
  margin: 30px 0px;
}

/* our apartment */
.our_apartment h2{
  margin: -18px 0px;
  padding: 20px 0px;
}
.separator{
  width: 8%;
  background-color: #C8B191;
  height: 1px;
  text-align: center;
  margin: 25px auto;
  position: relative;
}
.separator:after {
  position: absolute;
  /*width: 8px;
  height: 8px;
  background-color: #C8B191;*/
  content: "";
  top: -4px;
  margin-left: -4px;
  left: 50%;
}


/*Apartment details*/
.promo{
  padding: 30px 0px;
}
.promo_title img{
  width: 100%;
}
.promo_text{
  top: -59px;
  position: relative;
}
.promo_text h3{
  top: -24px;
  position: relative;
  padding: 19px;
  background: rgba(156, 149, 149, 0.85);
  color: #EFD0A5;
}
.promo_text h3:hover{
  background: rgba(255, 255, 255, 0.88);
  cursor: pointer;
  color: #000;
}

.promo_list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.promo_list li{
  padding: 8px 5px;
  font-size: 18px;
}
.promo_list li i{
  font-size: 23px;
}


.promo_bottom_text{
  border-top: 1px solid #C8B191;
  margin: 15px 0px;
}
.promo_bottom_text p{
  font-size: 17px;
  word-spacing: 1.5px;
  padding: 22px 0px;
}
.promo_bottom_text a{
      background: #CAB193;
    padding: 10px 17px;
    text-decoration: none;
    color: #fff;
}
.promo_bottom_text a:hover{
  color: #000;
}
.apartment_book{

}




/*====================================== tistimonial style ===================*/

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 107px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "";
    font-family: 'Fontawesome';
    /*float: left;*/
    margin-right: 10px;
}

.tistimonial_text{
      font-size: 23px;
    padding: 16px 0px;
    font-style: italic;
}


/*=================================== call to action style ==================*/


/*Call to action */
#callto_action{
  background: url(../img/thumb.jpg)no-repeat fixed;
 height: auto;
 min-height: 600px;
 display: block;
  
}

.call_info{
    background-color: rgba(214, 205, 191, 0.83);
    color: #000;
    padding: 10px 38px;
    /*position: relative;*/
    margin-top: 100px;
    margin-bottom: 50px;
}
.call_info i{
  background: #44273D;
    height: 70px;
    border-radius: 50%;
    width: 70px;
    top: -49px;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 21px;
    font-size: 34px;
}
.call_info_text{
  margin-bottom: 35px;
}
.call_info_text h3{
  margin-top: -33px;
  padding: 10px 0px;
}
.call_info p{
  
}




/*================================== Subscribe newsletter =================*/
/*subfooter*/
#subscribe{
  padding: 70px 0px;
}
#subscribe p{
     font-size: 27px;
    font-family: cursive;
    float: left;
    overflow: hidden;
}
.sign_up button{
    background: #C8B191;
    text-decoration: none;
    padding: 13px 24px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    color: #fff;
}
.sign_up input{
 padding: 12px 10px;
    width: 47%;
}
.sign_up{
  padding: 0px 187px;
}
.input_mail{
  padding: 20px 10px;
}
/*================================== Main footer or footer top ====================*/
#footer{
  background: #F4F4F4;
}

.footer_logo{
  padding: 70px 0px;
}
.footer_logo span{
  font-size: 35px;
}

.footer_title_text{
  padding: 30px 0px;
}

.footer_nav{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.footer_nav li{
 padding: 7px 0px;
}
.footer_nav li a{
  font-size: 17px;
  color: #393939;
  text-decoration: none;
}
.footer_nav li a:hover{
  color: #C8B191;
}
.social_links {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social_links li{
  display: inline-block;
  padding: 10px 15px;
}

.social_links li a i{
  background: #C8B191;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  padding: 7px;
  font-size:20px;
}
.social_links li a i:hover{
  color: #000;
}

.list_icons{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list_icons li{
  padding: 7px 3px;
}


/*================================== Subfooter or footer bottom ====================*/
.subfooter{
  background-color:  rgba(200, 177, 145, 0.2);
}
.subfooter a{
  color: red;
}
.subfooter p{
  font-size: 14px;
  line-height: 1.3;
  color: #999;
  padding: 25px 0;
  border-top: 1px solid #eaeaea;
}